version: '3'

services:

  django:
    hostname: ${PROJECT_FLAG}_${BACKEND_DJANGO_CONTAINER}
    image: ${BACKEND_DJANGO_IMAGE}
    container_name: ${PROJECT_FLAG}_${BACKEND_DJANGO_CONTAINER}
    command: bash -c "pip install -r requirements.txt && python manage.py runserver 0.0.0.0:8000"
#    command: bash -c "pip install -r requirements.txt && uwsgi --ini /usr/src/app/uwsgi.ini"
    working_dir: /usr/local/src/backend
    ports:
      - ${DOCKER_BIND_HOST}:${BACKEND_DJANGO_HOST_PORT}:8000
    volumes:
      - ${WORKSPACE}/backend:/usr/local/src/backend
    logging:
      driver: "json-file"
      options:
        max-size: "1g"
        max-file: "3"

  frontend:
    hostname: ${PROJECT_FLAG}_${FRONTEND_SERVER_CONTAINER}
    image: ${FRONTEND_SERVER_IMAGE}
    container_name: ${PROJECT_FLAG}_${FRONTEND_SERVER_CONTAINER}
    command: nginx -g 'daemon off;'
#    command: nginx-debug -g 'daemon off;'
    restart: always
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ${WORKSPACE}/frontend/dist:/usr/local/src/frontend/dist
      - ${WORKSPACE}/etc/nginx/conf/conf.d:/etc/nginx/conf.d
      - ${WORKSPACE}/lib/frontend/frontend_health.sh:/root/frontend_health.sh
      - ${WORKSPACE}/runtime/logs/nginx:/var/log/nginx
    ports:
      - ${DOCKER_BIND_HOST}:${FRONTEND_SERVER_HOST_PORT}:80
    depends_on:
      frontend_compile:
        condition: service_healthy
    healthcheck:
      test: /root/frontend_health.sh
      interval: 1s
      timeout: 1s
      retries: 15
#    links:
#      # https://zhuanlan.zhihu.com/p/382779508
#      - django:backend-django

  frontend_compile:
    hostname: ${PROJECT_FLAG}_${FRONTEND_BUILD_NAME}
    image: ${FRONTEND_BUILD_IMAGE}
    container_name: ${PROJECT_FLAG}_${FRONTEND_BUILD_NAME}
    restart: always
    command: /usr/local/sbin/compile_frontend /usr/local/src/frontend
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - /usr/share/zoneinfo/Asia/Shanghai:/etc/localtime:ro
      - ${WORKSPACE}/frontend:/usr/local/src/frontend
      - ${WORKSPACE}/lib/frontend/compile_frontend:/usr/local/sbin/compile_frontend
    healthcheck:
      test: grep success /usr/local/src/frontend/build.result
      interval: 6s
      timeout: 6s
      retries: 110
    networks:
      - yc_ley



# a, b, c类地址: https://zhuanlan.zhihu.com/p/149092624
# 配置docker-compose network: https://zhuanlan.zhihu.com/p/334751260
# ip段计算器: https://ipjisuanqi.com/
# - subnet:
#   - 29: 可用2^(32-29)-2=6个地址。第一位给网络，最后一位给广播

networks:
  yc_ley:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.31.10.0/29
          gateway: 172.31.10.1

